########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log
.redis

########################
# misc / editors
########################
*~
*#
.DS_STORE


########################
# local config
########################